.popup__about {
  height: 25px;
  padding: 0;
  margin: 0 auto 52px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 356px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .popup__about {
    height: 27px;
    margin-bottom: 45px;
    max-width: 238px;
    width: 100%;
  }
}
